<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Stadion rasmini suratga olib yuklash uchun kameraga ruxsat kerak.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Stadion joylashuvini xaritada belgilash uchun joriy joylashuvingiz kerak.</string>
</dict>
</plist>
